<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1> <%= heading %> </h1>

  </div>
  <div class="box">

    <%   for(var i =0;i<newtasks.length;i++){  %>
    <div class="item">
      <input type="checkbox">
      <p> <%= newtasks[i] %> </p>
    </div>
    <% }%>

    <form class="item" action="/" method="post">

      <input type="text" name="task" placeholder="new item">
      <button type="submit" name="typeTask"  value=  "<%=typeList%>"    > + </button>


    </form>
  </div>

</body>

</html>
